.container {
  margin: 0 auto;
  border: 1px solid black;
  max-width: 700px;
}

/* .app-wrapper {
  margin: 0 auto;
} */

.header {
  margin: 0 auto;
  text-align: center;
}
ul {
  list-style-type: none; 
}
li {
  margin-right: 1em; 
  font-size: 20px;
  font-weight: 600;

}
.todo-list {
  /* margin: 0 auto; */
  text-align: center;
}

.remove-button {
  padding: 7px 7px;
  background-color: rgb(247, 223, 13);
  color: white;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
  border: none;
  border-radius: 5px;
}

.button-add {
  padding: 10px 10px;
  background-color: rgb(100, 196, 11);
  color: white;
  font-weight: 600;
  margin-left: 10px;
  font-size: 10px;
  border: none;
  border-radius: 5px;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

}
.todo {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 2px;
}
.check_box {
  padding: 10px;
  margin-right: 10px;
}

